<!DOCTYPE html>
<html ng-app="AppsApp">
<head>
    <meta charset="utf-8" />
    <script src="../scripts/jquery-2.0.2.js"></script>
    <script src="../scripts/select2.min.js"></script><link rel="stylesheet" href="../assets/select2.min.css" />
    <script src="../scripts/angular.min.js"></script>
    <script src="../scripts/jquery-ui-1.10.2.custom.js"></script>
    <script src="../scripts/ui-select2.js"></script>
    <script src="../scripts/angular-animate.js"></script>
    <script src="../scripts/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="admin.js"></script>
    <script src="apps.js"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=KoHo:wght@100;300;400;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap-extended.css" />
    <link rel="stylesheet" type="text/css" href="css/colors.css" />
    <link rel="stylesheet" type="text/css" href="css/components.css" />
    <link rel="stylesheet" type="text/css" href="css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="css/themes/semi-dark-layout.min.css">
    <link href="users.css" rel="stylesheet" />

    <title></title>
</head>
<body ng-controller="AppsController" class="vertical-layout vertical-menu-modern 2-columns  navbar-sticky fixed-footer semi-dark-layout " data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">

    <!-- BEGIN: Main Menu-->
    <div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item mr-auto">
                    <a class="navbar-brand" href="/admin/">
                        <!--<div class="brand-logo"></div>-->
                        <h2 class="brand-text mb-0">Home-automation</h2>
                    </a>
                </li>
            </ul>
        </div>
        <div class="shadow-bottom"></div>
        <div class="main-menu-content">
            <admin-menu />
        </div>
    </div>
    <!-- END: Main Menu-->

    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-12 mb-2 mt-1">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h1>Home Automation Admin</h1>
                        </div>
                    </div>

                    <div class="row breadcrumbs-top">
                        <div class="col-12 mb-2">
                            <h5 class="content-header-title float-left pr-1 mb-0">Apps &amp; Extensions</h5>
                            <div class="breadcrumb-wrapper col-12">
                                <ol class="breadcrumb p-0 mb-0">
                                    <li class="breadcrumb-item" ng-class="{active: view.startsWith('apps')}">
                                        <a href="#" ng-click="events.switchToView('apps-list')">Apps</a>
                                    </li>
                                    <li class="breadcrumb-item" ng-class="{active: view.startsWith('extensions')}">
                                        <a href="#" ng-click="events.switchToView('extensions-list')">Extensions</a>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>

                    <div class="card" ng-if="view=='extensions-list'">
                        <div class="card-header">
                            <h4 class="card-title">Extensions</h4>
                        </div>
                        <div class="card-content">
                            <div class="table-responsive">
                                <table class="table .table-hover table-striped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>NAME</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr ng-repeat="ag in Extensions">
                                            <td class="title"><span ng-bind="ag.title"></span></td>
                                            <td class="restart">
                                                <button ng-if="ag.isInstalled" class="btn btn-outline-dark mr-1 mb-1" ng-click="events.restartExtension(ag)">Restart</button>
                                                <button ng-if="!ag.isInstalled" class="btn btn-outline-dark mr-1 mb-1" ng-click="events.installExtension(ag)">Install</button>
                                            </td>
                                            <td class="suppr">
                                                <button ng-if="ag.isInstalled" class="btn btn-primary mr-1 mb-1" ng-click="events.uninstallExtension(ag)">Uninstall</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</body>
</html>