

main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

    main article {
        width: calc(100% - 80px);
        height: calc(100% - 80px);
        padding: 40px;
    }
   



input[type=email], input[type=password], input[type=text],
input:-webkit-autofill {
    color: #f5f5ff;
    border: solid 1px #f5f5ff;
    background-color: #394281;
    padding: 5px;
    border-radius: 8px;
}

a.button,
button[type=submit] {
    color: #394281;
    padding: 10px 20px;
    background-color: #f5f5ff;
    border-radius: 8px;
    border: none;
    text-decoration: none;
}

        a.button:hover,
        button[type=submit]:hover {
        background-color: #DCDEF8;
    }

        label {
    font-weight: 300;
}


aside {
    position: fixed;
    top: calc(100% - 80px);
    left: 20px;
    width: calc(100% - 20px);
    height: 80px;
    z-index: 10
}

    aside .version {
        font-size: 12px;
        color: #AABBF0;
        font-weight: 200 !important;
        margin-top: -12px;
        text-align: right;
        width: 122px;
    }


.manoir-main-menu {
    display: none!important;
}