<!DOCTYPE html>
<html ng-app="UnitApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0" />
    <script src="../../scripts/jquery-2.0.2.js"></script>
    <script src="../../scripts/angular.min.js"></script>
    <script src="../../scripts/angular-animate.js"></script>
    <script src="../../scripts/select2.min.js"></script>
    <link rel="stylesheet" href="../../assets/select2.min.css" />
    <script src="../../scripts/ui-select2.js"></script>
    <script src="../../scripts/microsoft/signalr/dist/browser/signalr.min.js"></script>

    <script src="/me/scripts/user-menu.js"></script>
    <script src="../admin.js"></script>
    <script src="units.js"></script>
    <manoir-head></manoir-head>
    <link rel="stylesheet" href="units.css" />
    <link rel="manifest" href="/manifest.json">

    <title>Administration - Units</title>
</head>
<body ng-controller="UnitsController">

    <div class="main-wrapper">

        <manoir-user-menubar></manoir-user-menubar>



        <div class="page-wrapper">

            <manoir-user-header></manoir-user-header>

            <div class="page-content">

                <nav class="page-breadcrumb">
                    <ol class="breadcrumb  breadcrumb-arrow">
                        <li class="breadcrumb-item"><a href="/admin/">Administration</a></li>
                        <li class="breadcrumb-item">Settings</li>
                        <li class="breadcrumb-item active" aria-current="page">Units</li>
                    </ol>
                </nav>

                <div class="row">

                    <div class="col-md-12 grid-margin stretch-card" ng-if="view=='units-list'">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Known units</h4>
                                <div class="table-responsive">
                                    <table class="table .table-hover table-striped">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>Label</th>

                                                <th>Symbol</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr ng-repeat="un in units">
                                                <td class="label">
                                                    <span class='name' ng-bind="un.label"></span>
                                                </td>
                                                <td class="symbol">
                                                    <span ng-bind="ag.symbol"></span><br />

                                                </td>
                                                <td class="config"><button class="btn btn-primary mr-1 mb-1" disabled>...</button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="/assets/core.js"></script>
    <script src="/assets/feather.min.js"></script>
    <script src="/assets/template.js"></script>

    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/sw.js', { scope: '/' });
        }
    </script>


</body>
</html>