<!DOCTYPE html>
<html ng-app="HomeAutoPageApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Bienvenue !</title>
    <script src="../scripts/jquery-2.0.2.js"></script>
    <script src="../scripts/angular.min.js"></script>
    <script src="../scripts/angular-animate.js"></script>
    <script src="../scripts/select2.min.js"></script>
    <link rel="stylesheet" href="../assets/select2.min.css" />
    <script src="../scripts/ui-select2.js"></script>
    <script src="../scripts/microsoft/signalr/dist/browser/signalr.min.js"></script>

    <script src="/me/scripts/user-menu.js"></script>
    <script src="home-automation.js"></script>

    <manoir-head></manoir-head>

    <link rel="stylesheet" href="home-automation.css" />
    <link rel="manifest" href="/manifest.json">

    <title>Home Automation</title>
</head>
<body ng-controller="HomeAutoPageController">
    <div class="main-wrapper">
        <manoir-user-menubar></manoir-user-menubar>



        <div class="page-wrapper">
            <manoir-user-header></manoir-user-header>

            <div class="page-content">


                <div class="row">

                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">

                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">

                                <div class="scene-group" ng-repeat="group in groups track by group.id">
                                    <h5 class="card-title">{{group.label}}</h5>

                                    <ul>
                                        <li class="scene" ng-repeat="scene in group.scenes track by scene.id">
                                            <button class="btn" ng-class="{'btn-primary': events.isActive(scene), 'btn-outline-primary': !events.isActive(scene)}"
                                                    ng-click="events.invokeScene(scene)">{{scene.label}}</button>
                                        </li>
                                    </ul>

                                </div>
                                    
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row" >

                </div>
            </div>

        </div>



    </div>

    <script src="/assets/core.js"></script>
    <script src="/assets/feather.min.js"></script>
    <script src="/assets/template.js"></script>

    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/sw.js', { scope: '/' });
        }
    </script>

</body>
</html>